#header .header-start {
    margin-left: 80px !important;
}

#content-vue {
    border-radius: 0 !important;
    margin: 50px 0 0 0 !important;
    width: 100% !important;
    height: 100% !important;
}

#app-content-vue {
    border-radius: 0;
}
