// SPDX-FileCopyrightText: 2026 Iva Horn
// SPDX-License-Identifier: MIT

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

#include "../Cirruscope.xcconfig"

CODE_SIGN_ENTITLEMENTS = Cirruscope/Cirruscope.entitlements
PROVISIONING_PROFILE_SPECIFIER = Cirruscope
