<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FeedbackAddress</key>
	<string>Cirruscope Feedback &lt;contact@cirruscope.app&gt;</string>
	<key>MinimumSupportedNextcloudMajorVersion</key>
	<integer>33</integer>
	<key>PrivacyPolicy</key>
	<string>https://cirruscope.app/privacy-policy/</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
